<div class="relative-container account_information">
	<form ng-submit="updatePassword();">
		<div class="alertMessage" style="padding-bottom: 20px; width: 100%;">
			<div class="alertBox" ng-class="{showingError: updateError, 'error-bg': updateError}">
				<div class="icon">
					<i class="material-icons center_item">info</i>
				</div>
				<div class="text">
					<span class="center_item_vertically" style="color: #aee4ff;" ng-if="!updateError">
						EMAIL TAKEN. <span class="emphasis" ng-click="login();">LOGIN</span> or <span class="emphasis" ng-click="useAnother();">USE ANOTHER</span>
					</span>
					<span class="center_item_vertically" ng-if="updateError">
						<span class="emphasis">{{updateError}}</span>
					</span>
				</div>
				<div class="close" ng-click="closeError();">
					<i class="pe-7s-close center_item"></i>
				</div>
			</div>
		</div>
		<div class="input-box required-field" data-validate="Current Password">
			<div class="label display">
				CURRENT PASSWORD <span class="required">*</span>
			</div>
			<div class="inputcontainer">
				<input type="password" ng-model="useraccount.current" autocomplete="new-password">
			</div>
			<div class="status error"></div>
		</div>
		<div class="input-box required-field" data-validate="Password">
			<div class="label display">
				NEW PASSWORD <span class="required">*</span>
			</div>
			<div class="inputcontainer">
				<input type="password" ng-model="useraccount.password" autocomplete="new-password" class="datapassword">
			</div>
			<div class="status error"></div>
		</div>
		<div class="input-box required-field" data-validate="Confirm Password">
			<div class="label display">
				CONFIRM NEW PASSWORD <span class="required">*</span>
			</div>
			<div class="inputcontainer">
				<input type="password" ng-model="useraccount.confirmpassword" autocomplete="new-password" class="dataconfirmpassword">
			</div>
			<div class="status error"></div>
		</div>
		<div class="input-box">
			<button type="submit" class="of_btn" ng-class="{'success-bg': !updateprocessing && (updatepasswordStatus == 'Password Updated'), 'error-bg': !updateprocessing && (updatepasswordStatus == 'Incorrect Password')}">
				<span class="center_item" ng-if="!updateprocessing && !updatepasswordStatus">
					UPDATE PASSWORD
				</span>
				<span class="center_item" ng-if="!updateprocessing && (updatepasswordStatus == 'Password Updated')">SUCCESS</span>
				<span class="center_item uppercase" ng-if="!updateprocessing && (updatepasswordStatus == 'Incorrect Password')">{{updatepasswordStatus}}</span>
	            <div class="spinner" ng-if="updateprocessing">
			        <div class="bounce1"></div>
			        <div class="bounce2"></div>
			        <div class="bounce3"></div>
			    </div>
			</button>
		</div>
	</form>
</div>