<div class="caret" click-anywhere-but-here="click();">
    <i class="material-icons caret-right" ng-show="!(charterShow == charter.id)">chevron_right</i>
    <div class="relative-container close-show" ng-show="(charterShow == charter.id)">
        <i class="material-icons center_item_horizontally">close</i>
    </div>
</div>
<div class="title margin-left-5 charter_type" ng-class="{'reduced': (charterShow != charter.id), 'vessel_name': (charterShow != charter.id)}">
    <div class="hire_rate_label" ng-hide="(charterShow == charter.id)">VESSEL TYPE</div>
    <div class="hire_rate_rate text_truncate" ng-hide="(charterShow == charter.id)">{{charter.vessel_type}}</div>
    <span ng-show="(charterShow == charter.id)">{{charter.vessel_type}}</span>
</div>
<div class="hire_rate margin-left-15 enquiry_time" ng-hide="(charterShow == charter.id)">
    <div class="hire_rate_label">
        <i class="material-icons">
            access_time
        </i>
        <span>{{ charter.created_at * 1000 | date: 'h:mma' | lowercase }}</span>
    </div>
    <div class="hire_rate_rate">{{ charter.created_at * 1000 | date: 'dd-MMM-yy' }}</div>
</div>
<div class="hire_rate margin-left-15 offer_rate" ng-hide="(charterShow == charter.id)">
    <div class="hire_rate_label">HIRE RATE</div>
    <div class="hire_rate_rate">${{charter.preferred_daily_hire_rate}}</div>
</div>
<div class="show_area" ng-class="{'reveal': charterShow == charter.id}">
    <div class="left_area">
        <div class="hire_rate">
            <div class="hire_rate_label">HIRE RATE</div>
            <div class="hire_rate_rate">${{charter.preferred_daily_hire_rate}}</div>
        </div>
        <div class="action-btn">
            <div class="icon">
                <i class="material-icons center_item">share</i>
            </div>
            <div class="label">
                SHARE REQUEST
            </div>
        </div>
        <div class="action-btn" ng-click="charterInformationTab(charter);">
            <div class="icon">
                <i class="material-icons center_item">zoom_out_map</i>
            </div>
            <div class="label">
                FULL VIEW
            </div>
        </div>
        <div class="relative-container align-center" style="float: left;">
            <div class="product_section">
                <div class="icon">
                    <i class="material-icons">timelapse</i>
                </div>
                <div class="label">
                    CREATED
                </div>
                <div class="content">
                    {{ charter.created_at * 1000 | date: 'medium' }}
                </div>
                <div class="clear-both"></div>
            </div>
        </div>
        <div class="details_header">
            CHARTER REQUEST DETAILS
        </div>
        <div class="details_container">
            <div class="input-box">
                <div class="label display">
                    PREFERRED SHIP-OWNER CATEGORY
                </div>
                <div class="inputcontainer">
                    {{charter.preferred_shipowner_category}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    VESSEL TYPE
                </div>
                <div class="inputcontainer">
                    {{charter.vessel_type}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    PREFERRED FLAG
                </div>
                <div class="inputcontainer" style="padding-bottom: 10px;">
                    <div class="flag-icon">
                        <img src="assets/images/icons/countries/{{charter.preferred_flag | lowercase}}.png">
                    </div>
                    <div class="flag-label">
                        {{countries[charter.preferred_flag]}}
                    </div>
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    CHARTERER IDENTITY
                </div>
                <div class="inputcontainer">
                    {{charter.identity}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    PREFERRED DAILY HIRE RATE
                </div>
                <div class="inputcontainer">
                    {{charter.preferred_daily_hire_rate}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    MAX AGE
                </div>
                <div class="inputcontainer">
                    {{charter.max_age}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    LOCATION OF OPERATION
                </div>
                <div class="inputcontainer">
                    {{charter.location_of_operation}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    FIRM DURATION
                </div>
                <div class="inputcontainer">
                    {{charter.firm_duration}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    SCOPE OF WORK
                </div>
                <div class="inputcontainer">
                    {{charter.scope_of_work}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    DEADWEIGHT TONNAGE (DWT) - MIN
                </div>
                <div class="inputcontainer">
                    {{charter.tonnage_dwt_min}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    DEADWEIGHT TONNAGE (DWT) - MAX
                </div>
                <div class="inputcontainer">
                    {{charter.tonnage_dwt_max}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    GROSS TONNAGE (GRT) - MIN
                </div>
                <div class="inputcontainer">
                    {{charter.tonnage_grt_min}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    GROSS TONNAGE (GRT) - MAX
                </div>
                <div class="inputcontainer">
                    {{charter.tonnage_grt_max}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    BOLLARD PULL (BP) - MIN
                </div>
                <div class="inputcontainer">
                    {{charter.performance_sbp_bp_min}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    BOLLARD PULL (BP) - MAX
                </div>
                <div class="inputcontainer">
                    {{charter.performance_sbp_bp_max}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    BRAKE HORSE POWER (BHP) - MIN
                </div>
                <div class="inputcontainer">
                    {{charter.performance_sbp_bhp_min}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    BRAKE HORSE POWER (BHP) - MAX
                </div>
                <div class="inputcontainer">
                    {{charter.performance_sbp_bhp_max}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    SPEED (KNOTS) - MIN
                </div>
                <div class="inputcontainer">
                    {{charter.performance_sbp_speed_min}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    SPEED (KNOTS) - MAX
                </div>
                <div class="inputcontainer">
                    {{charter.performance_sbp_speed_max}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    LENGTH OA (METRES) - MIN
                </div>
                <div class="inputcontainer">
                    {{charter.dimensions_length_min}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    LENGTH OA (METRES) - MAX
                </div>
                <div class="inputcontainer">
                    {{charter.dimensions_length_max}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    BREADTH MOULDED (METRES) - MIN
                </div>
                <div class="inputcontainer">
                    {{charter.dimensions_breadth_min}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    BREADTH MOULDED (METRES) - MAX
                </div>
                <div class="inputcontainer">
                    {{charter.dimensions_breadth_max}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    DEPTH MOULDED (METRES) - MIN
                </div>
                <div class="inputcontainer">
                    {{charter.dimensions_depth_min}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    DEPTH MOULDED (METRES) - MAX
                </div>
                <div class="inputcontainer">
                    {{charter.dimensions_depth_max}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    DRAFT (METRES) - MIN
                </div>
                <div class="inputcontainer">
                    {{charter.dimensions_draft_min}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    DRAFT (METRES) - MAX
                </div>
                <div class="inputcontainer">
                    {{charter.dimensions_draft_max}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    EXPECTED MOBILIZATION DATE
                </div>
                <div class="inputcontainer">
                    {{charter.expected_mob_date}}
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    END CLIENT
                </div>
                <div class="inputcontainer" ng-if="charter.end_client">
                    {{charter.end_client}}
                </div>
                <div class="inputcontainer italics light" ng-if="!charter.end_client">
                    Not Specified
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    PURPOSE
                </div>
                <div class="inputcontainer" ng-if="charter.purpose">
                    {{charter.purpose}}
                </div>
                <div class="inputcontainer italics light" ng-if="!charter.purpose">
                    Not Specified
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    REGISTRATION / DOCUMENTATION CLASS
                </div>
                <div class="inputcontainer" ng-if="charter.reg_doc_class">
                    {{charter.reg_doc_class}}
                </div>
                <div class="inputcontainer italics light" ng-if="!charter.reg_doc_class">
                    Not Specified
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    NCDMB
                </div>
                <div class="inputcontainer" ng-if="charter.reg_doc_ncdmb">
                    {{charter.reg_doc_ncdmb}}
                </div>
                <div class="inputcontainer italics light" ng-if="!charter.reg_doc_ncdmb">
                    Not Specified
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    PORTS OF DELIVERY
                </div>
                <div class="inputcontainer" ng-if="charter.port_of_delivery">
                    {{charter.port_of_delivery}}
                </div>
                <div class="inputcontainer italics light" ng-if="!charter.port_of_delivery">
                    Not Specified
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    PORTS OF RE-DELIVERY
                </div>
                <div class="inputcontainer" ng-if="charter.port_of_redelivery">
                    {{charter.port_of_redelivery}}
                </div>
                <div class="inputcontainer italics light" ng-if="!charter.port_of_redelivery">
                    Not Specified
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    CLEAR DECK AREA (SQM) - MIN
                </div>
                <div class="inputcontainer" ng-if="charter.dec_cargo_cleardeckarea_min">
                    {{charter.dec_cargo_cleardeckarea_min}}
                </div>
                <div class="inputcontainer italics light" ng-if="!charter.dec_cargo_cleardeckarea_min">
                    Not Specified
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    CLEAR DECK AREA (SQM) - MAX
                </div>
                <div class="inputcontainer" ng-if="charter.dec_cargo_cleardeckarea_max">
                    {{charter.dec_cargo_cleardeckarea_max}}
                </div>
                <div class="inputcontainer italics light" ng-if="!charter.dec_cargo_cleardeckarea_max">
                    Not Specified
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    DECK STRENGTH (MT/SQM) - MIN
                </div>
                <div class="inputcontainer" ng-if="charter.dec_cargo_deckstrength_min">
                    {{charter.dec_cargo_deckstrength_min}}
                </div>
                <div class="inputcontainer italics light" ng-if="!charter.dec_cargo_deckstrength_min">
                    Not Specified
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    DECK STRENGTH (MT/SQM) - MAX
                </div>
                <div class="inputcontainer" ng-if="charter.dec_cargo_deckstrength_max">
                    {{charter.dec_cargo_deckstrength_max}}
                </div>
                <div class="inputcontainer italics light" ng-if="!charter.dec_cargo_deckstrength_max">
                    Not Specified
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    DECK CRANE
                </div>
                <div class="inputcontainer" ng-if="charter.dec_cargo_deckcrane">
                    {{charter.dec_cargo_deckcrane}}
                </div>
                <div class="inputcontainer italics light" ng-if="!charter.dec_cargo_deckcrane">
                    Not Specified
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    DYNAMIC POSITIONING (DP 1)
                </div>
                <div class="inputcontainer" ng-if="charter.dp_one">
                    {{charter.dp_one}}
                </div>
                <div class="inputcontainer italics light" ng-if="!charter.dp_one">
                    Not Specified
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    DYNAMIC POSITIONING (DP 2)
                </div>
                <div class="inputcontainer" ng-if="charter.dp_two">
                    {{charter.dp_two}}
                </div>
                <div class="inputcontainer italics light" ng-if="!charter.dp_two">
                    Not Specified
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    Valid OVID/CMID
                </div>
                <div class="inputcontainer" ng-if="charter.valid_ovid_cmid">
                    {{charter.valid_ovid_cmid}}
                </div>
                <div class="inputcontainer italics light" ng-if="!charter.valid_ovid_cmid">
                    Not Specified
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    ADD INSPECTION
                </div>
                <div class="inputcontainer" ng-if="charter.add_inspection">
                    {{charter.add_inspection}}
                </div>
                <div class="inputcontainer italics light" ng-if="!charter.add_inspection">
                    Not Specified
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    PERFORMANCE (FUEL CONSUMPTION) - MAX LITRES
                </div>
                <div class="inputcontainer" ng-if="charter.fuel_consumption_on_tow">
                    {{charter.fuel_consumption_on_tow}}
                </div>
                <div class="inputcontainer italics light" ng-if="!charter.fuel_consumption_on_tow">
                    Not Specified
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    ACCOMMODATION (PASSENGERS) - MIN
                </div>
                <div class="inputcontainer" ng-if="charter.accommodation_passengers_min">
                    {{charter.accommodation_passengers_min}}
                </div>
                <div class="inputcontainer italics light" ng-if="!charter.accommodation_passengers_min">
                    Not Specified
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    ACCOMMODATION (PASSENGERS) - MAX
                </div>
                <div class="inputcontainer" ng-if="charter.accommodation_passengers_max">
                    {{charter.accommodation_passengers_max}}
                </div>
                <div class="inputcontainer italics light" ng-if="!charter.accommodation_passengers_max">
                    Not Specified
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    HOSPITAL
                </div>
                <div class="inputcontainer" ng-if="charter.accommodation_hospital">
                    {{charter.accommodation_hospital}}
                </div>
                <div class="inputcontainer italics light" ng-if="!charter.accommodation_hospital">
                    Not Specified
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    HELIPAD/HELIDECK
                </div>
                <div class="inputcontainer" ng-if="charter.helipad">
                    {{charter.helipad}}
                </div>
                <div class="inputcontainer italics light" ng-if="!charter.helipad">
                    Not Specified
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    SPECIFICATION SHEET
                </div>
                <a ng-href="{{stripped(charter.vessel_specification_document)}}" ng-if="charter.vessel_specification_document" target="_blank">
                    <div class="inputcontainer filepath">
                        <div class="spec-name text_truncate">{{getFileName(charter.vessel_specification_document)}}</div>
                            <div class="download-icon">
                                <i class="material-icons">file_download</i>
                            </div>
                        <div class="clear-both"></div>
                    </div>
                </a>
                <div class="inputcontainer italics light" ng-if="!charter.vessel_specification_document">
                    Not Specified
                </div>
            </div>
            <div class="input-box">
                <div class="label display">
                    ADDITIONAL DATA
                </div>
                <div class="inputcontainer" ng-if="charter.additional_data">
                    {{charter.additional_data}}
                </div>
                <div class="inputcontainer italics light" ng-if="!charter.additional_data">
                    Not Specified
                </div>
            </div>
        </div>
    </div>
    <div class="clear-both"></div>
</div>
<div class="clear-both"></div>