<div class="dash_item" ng-click="viewchat(chat.$id, chat.vessel, chat.peer_object);" ng-repeat="(key, chat) in chats">
    <div class="caret">
        <i class="material-icons">chevron_right</i>
    </div>
    <div class="mvx_inner_header_profile" style="border: 1px solid {{getColor(chat.peer_object.display_name)}};" ng-if="chat.peer_object">
        <div class="mvx_inner_header_profile_aes" style="border: 2px solid {{getColor(chat.peer_object.display_name)}};"></div>
        <span class="center_item" style="color: {{getColor(chat.peer_object.display_name)}};">
            {{getInitials(chat.peer_object.display_name)}}
        </span>
    </div>
    <div class="mvx_inner_header_profile" style="border: 1px solid #056a9f;" ng-if="!chat.peer_object">
        <div class="mvx_inner_header_profile_aes" style="border: 2px solid #056a9f;"></div>
        <div class="spinner smallest_loader page-loading center_item">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div class="title reduced margin-left-15 enquiry_last_message">
        <div class="hire_rate_label">LAST MESSAGE</div>
        <div class="hire_rate_rate text_truncate align-left">{{chat.last}}</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_time">
        <div class="hire_rate_label">
            <i class="material-icons">
                access_time
            </i>
            <span>{{chat.last_time | date: 'h:mma'}}</span>
        </div>
        <div class="hire_rate_rate">{{chat.last_time | date: 'dd-MMM-yy'}}</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_author">
        <div class="hire_rate_label">FROM</div>
        <div class="hire_rate_label" style="background: #8CB429;">
            VESSEL{{(chat.vessel) ? (' ' + chat.vessel.id) : ''}}
        </div>
        <div class="hire_rate_rate text_truncate">
            <span ng-if="chat.peer_object">{{chat.peer_object.display_name | uppercase}}</span>
            <div class="spinner small_loader page-loading" ng-if="!chat.peer_object" style="margin-left: 0; margin-top: 3px;">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
</div>