<div class="dash_item">
    <div class="caret">
        <i class="material-icons">chevron_right</i>
    </div>
    <div class="mvx_inner_header_profile" style="border: 1px solid {{getColor('Femi Bala')}};">
        <div class="mvx_inner_header_profile_aes" style="border: 2px solid {{getColor('Femi Bala')}};"></div>
        <span class="center_item" style="color: {{getColor('Femi Bala')}};">
            {{getInitials("Femi Bala")}}
        </span>
    </div>
    <div class="title reduced margin-left-15 enquiry_last_message">
        <div class="hire_rate_label">LAST MESSAGE</div>
        <div class="hire_rate_rate text_truncate">Stratus Livelli enroute Spain</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_time">
        <div class="hire_rate_label">
            <i class="material-icons">
                access_time
            </i>
            <span>5:32pm</span>
        </div>
        <div class="hire_rate_rate">08-Sep-18</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_author">
        <div class="hire_rate_label">FROM</div>
        <div class="hire_rate_rate text_truncate">FEMI BALA</div>
    </div>
</div>
<div class="dash_item">
    <div class="caret">
        <i class="material-icons">chevron_right</i>
    </div>
    <div class="mvx_inner_header_profile" style="border: 1px solid {{getColor('Oluyide Ifemide')}}; ">
        <div class="mvx_inner_header_profile_aes" style="border: 2px solid {{getColor('Oluyide Ifemide')}};"></div>
        <span class="center_item" style="color: {{getColor('Oluyide Ifemide')}};">
            {{getInitials("Oluyide Ifemide")}}
        </span>
    </div>
    <div class="title reduced margin-left-15 enquiry_last_message">
        <div class="hire_rate_label">LAST MESSAGE</div>
        <div class="hire_rate_rate text_truncate">Stratus Livelli enroute Spain Stratus Livelli enroute Spain Stratus Livelli enroute Spain</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_time">
        <div class="hire_rate_label">
            <i class="material-icons">
                access_time
            </i>
            <span>5:32pm</span>
        </div>
        <div class="hire_rate_rate">08-Sep-18</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_author">
        <div class="hire_rate_label">FROM</div>
        <div class="hire_rate_rate text_truncate">OLUYIDE IFEMIDE</div>
    </div>
</div>
<div class="dash_item">
    <div class="caret">
        <i class="material-icons">chevron_right</i>
    </div>
    <div class="mvx_inner_header_profile" style="border: 1px solid {{getColor('NNAEMEKA OKORIE')}}; ">
        <div class="mvx_inner_header_profile_aes" style="border: 2px solid {{getColor('NNAEMEKA OKORIE')}};"></div>
        <span class="center_item" style="color: {{getColor('NNAEMEKA OKORIE')}};">
            {{getInitials("NNAEMEKA OKORIE")}}
        </span>
    </div>
    <div class="title reduced margin-left-15 enquiry_last_message">
        <div class="hire_rate_label">LAST MESSAGE</div>
        <div class="hire_rate_rate text_truncate">Livelli enroute Spain Stratus Livelli enroute Spain Stratus Livelli enroute Spain</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_time">
        <div class="hire_rate_label">
            <i class="material-icons">
                access_time
            </i>
            <span>5:32pm</span>
        </div>
        <div class="hire_rate_rate">08-Sep-18</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_author">
        <div class="hire_rate_label">FROM</div>
        <div class="hire_rate_rate text_truncate">NNAEMEKA OKORIE</div>
    </div>
</div>
<div class="dash_item">
    <div class="caret">
        <i class="material-icons">chevron_right</i>
    </div>
    <div class="mvx_inner_header_profile" style="border: 1px solid {{getColor('PAUL BRIGHT')}}; ">
        <div class="mvx_inner_header_profile_aes" style="border: 2px solid {{getColor('PAUL BRIGHT')}};"></div>
        <span class="center_item" style="color: {{getColor('PAUL BRIGHT')}};">
            {{getInitials("PAUL BRIGHT")}}
        </span>
    </div>
    <div class="title reduced margin-left-15 enquiry_last_message">
        <div class="hire_rate_label">LAST MESSAGE</div>
        <div class="hire_rate_rate text_truncate">Spain Stratus Livelli enroute</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_time">
        <div class="hire_rate_label">
            <i class="material-icons">
                access_time
            </i>
            <span>5:32pm</span>
        </div>
        <div class="hire_rate_rate">08-Sep-18</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_author">
        <div class="hire_rate_label">FROM</div>
        <div class="hire_rate_rate text_truncate">PAUL BRIGHT</div>
    </div>
</div>
<div class="dash_item">
    <div class="caret">
        <i class="material-icons">chevron_right</i>
    </div>
    <div class="mvx_inner_header_profile" style="border: 1px solid {{getColor('LLOYD MEMBERE')}}; ">
        <div class="mvx_inner_header_profile_aes" style="border: 2px solid {{getColor('LLOYD MEMBERE')}};"></div>
        <span class="center_item" style="color: {{getColor('LLOYD MEMBERE')}};">
            {{getInitials("LLOYD MEMBERE")}}
        </span>
    </div>
    <div class="title reduced margin-left-15 enquiry_last_message">
        <div class="hire_rate_label">LAST MESSAGE</div>
        <div class="hire_rate_rate text_truncate">Stratus Livelli enroute Spain Stratus</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_time">
        <div class="hire_rate_label">
            <i class="material-icons">
                access_time
            </i>
            <span>5:32pm</span>
        </div>
        <div class="hire_rate_rate">08-Sep-18</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_author">
        <div class="hire_rate_label">FROM</div>
        <div class="hire_rate_rate text_truncate">LLOYD MEMBERE</div>
    </div>
</div>
<div class="dash_item">
    <div class="caret">
        <i class="material-icons">chevron_right</i>
    </div>
    <div class="mvx_inner_header_profile" style="border: 1px solid {{getColor('OLUWATOBI AMUSAN')}}; ">
        <div class="mvx_inner_header_profile_aes" style="border: 2px solid {{getColor('OLUWATOBI AMUSAN')}};"></div>
        <span class="center_item" style="color: {{getColor('OLUWATOBI AMUSAN')}};">
            {{getInitials("OLUWATOBI AMUSAN")}}
        </span>
    </div>
    <div class="title reduced margin-left-15 enquiry_last_message">
        <div class="hire_rate_label">LAST MESSAGE</div>
        <div class="hire_rate_rate text_truncate">Stratus Livelli enroute Spain Stratus Livelli enroute Spain Stratus Livelli enroute Spain</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_time">
        <div class="hire_rate_label">
            <i class="material-icons">
                access_time
            </i>
            <span>5:32pm</span>
        </div>
        <div class="hire_rate_rate">08-Sep-18</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_author">
        <div class="hire_rate_label">FROM</div>
        <div class="hire_rate_rate text_truncate">OLUWATOBI AMUSAN</div>
    </div>
</div>
<div class="dash_item">
    <div class="caret">
        <i class="material-icons">chevron_right</i>
    </div>
    <div class="mvx_inner_header_profile" style="border: 1px solid {{getColor('Femi Bala')}}; ">
        <div class="mvx_inner_header_profile_aes" style="border: 2px solid {{getColor('Femi Bala')}};"></div>
        <span class="center_item" style="color: {{getColor('Femi Bala')}};">
            {{getInitials("Femi Bala")}}
        </span>
    </div>
    <div class="title reduced margin-left-15 enquiry_last_message">
        <div class="hire_rate_label">LAST MESSAGE</div>
        <div class="hire_rate_rate text_truncate">Stratus Livelli enroute Spain</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_time">
        <div class="hire_rate_label">
            <i class="material-icons">
                access_time
            </i>
            <span>5:32pm</span>
        </div>
        <div class="hire_rate_rate">08-Sep-18</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_author">
        <div class="hire_rate_label">FROM</div>
        <div class="hire_rate_rate text_truncate">FEMI BALA</div>
    </div>
</div>
<div class="dash_item">
    <div class="caret">
        <i class="material-icons">chevron_right</i>
    </div>
    <div class="mvx_inner_header_profile" style="border: 1px solid {{getColor('Oluyide Ifemide')}}; ">
        <div class="mvx_inner_header_profile_aes" style="border: 2px solid {{getColor('Oluyide Ifemide')}};"></div>
        <span class="center_item" style="color: {{getColor('Oluyide Ifemide')}};">
            {{getInitials("Oluyide Ifemide")}}
        </span>
    </div>
    <div class="title reduced margin-left-15 enquiry_last_message">
        <div class="hire_rate_label">LAST MESSAGE</div>
        <div class="hire_rate_rate text_truncate">Stratus Livelli enroute Spain Stratus Livelli enroute Spain Stratus Livelli enroute Spain</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_time">
        <div class="hire_rate_label">
            <i class="material-icons">
                access_time
            </i>
            <span>5:32pm</span>
        </div>
        <div class="hire_rate_rate">08-Sep-18</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_author">
        <div class="hire_rate_label">FROM</div>
        <div class="hire_rate_rate text_truncate">OLUYIDE IFEMIDE</div>
    </div>
</div>
<div class="dash_item">
    <div class="caret">
        <i class="material-icons">chevron_right</i>
    </div>
    <div class="mvx_inner_header_profile" style="border: 1px solid {{getColor('NNAEMEKA OKORIE')}}; ">
        <div class="mvx_inner_header_profile_aes" style="border: 2px solid {{getColor('NNAEMEKA OKORIE')}};"></div>
        <span class="center_item" style="color: {{getColor('NNAEMEKA OKORIE')}};">
            {{getInitials("NNAEMEKA OKORIE")}}
        </span>
    </div>
    <div class="title reduced margin-left-15 enquiry_last_message">
        <div class="hire_rate_label">LAST MESSAGE</div>
        <div class="hire_rate_rate text_truncate">Livelli enroute Spain Stratus Livelli enroute Spain Stratus Livelli enroute Spain</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_time">
        <div class="hire_rate_label">
            <i class="material-icons">
                access_time
            </i>
            <span>5:32pm</span>
        </div>
        <div class="hire_rate_rate">08-Sep-18</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_author">
        <div class="hire_rate_label">FROM</div>
        <div class="hire_rate_rate text_truncate">NNAEMEKA OKORIE</div>
    </div>
</div>
<div class="dash_item">
    <div class="caret">
        <i class="material-icons">chevron_right</i>
    </div>
    <div class="mvx_inner_header_profile" style="border: 1px solid {{getColor('PAUL BRIGHT')}}; ">
        <div class="mvx_inner_header_profile_aes" style="border: 2px solid {{getColor('PAUL BRIGHT')}};"></div>
        <span class="center_item" style="color: {{getColor('PAUL BRIGHT')}};">
            {{getInitials("PAUL BRIGHT")}}
        </span>
    </div>
    <div class="title reduced margin-left-15 enquiry_last_message">
        <div class="hire_rate_label">LAST MESSAGE</div>
        <div class="hire_rate_rate text_truncate">Spain Stratus Livelli enroute</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_time">
        <div class="hire_rate_label">
            <i class="material-icons">
                access_time
            </i>
            <span>5:32pm</span>
        </div>
        <div class="hire_rate_rate">08-Sep-18</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_author">
        <div class="hire_rate_label">FROM</div>
        <div class="hire_rate_rate text_truncate">PAUL BRIGHT</div>
    </div>
</div>
<div class="dash_item">
    <div class="caret">
        <i class="material-icons">chevron_right</i>
    </div>
    <div class="mvx_inner_header_profile" style="border: 1px solid {{getColor('LLOYD MEMBERE')}}; ">
        <div class="mvx_inner_header_profile_aes" style="border: 2px solid {{getColor('LLOYD MEMBERE')}};"></div>
        <span class="center_item" style="color: {{getColor('LLOYD MEMBERE')}};">
            {{getInitials("LLOYD MEMBERE")}}
        </span>
    </div>
    <div class="title reduced margin-left-15 enquiry_last_message">
        <div class="hire_rate_label">LAST MESSAGE</div>
        <div class="hire_rate_rate text_truncate">Stratus Livelli enroute Spain Stratus</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_time">
        <div class="hire_rate_label">
            <i class="material-icons">
                access_time
            </i>
            <span>5:32pm</span>
        </div>
        <div class="hire_rate_rate">08-Sep-18</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_author">
        <div class="hire_rate_label">FROM</div>
        <div class="hire_rate_rate text_truncate">LLOYD MEMBERE</div>
    </div>
</div>
<div class="dash_item">
    <div class="caret">
        <i class="material-icons">chevron_right</i>
    </div>
    <div class="mvx_inner_header_profile" style="border: 1px solid {{getColor('OLUWATOBI AMUSAN')}}; ">
        <div class="mvx_inner_header_profile_aes" style="border: 2px solid {{getColor('OLUWATOBI AMUSAN')}};"></div>
        <span class="center_item" style="color: {{getColor('OLUWATOBI AMUSAN')}};">
            {{getInitials("OLUWATOBI AMUSAN")}}
        </span>
    </div>
    <div class="title reduced margin-left-15 enquiry_last_message">
        <div class="hire_rate_label">LAST MESSAGE</div>
        <div class="hire_rate_rate text_truncate">Stratus Livelli enroute Spain Stratus Livelli enroute Spain Stratus Livelli enroute Spain</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_time">
        <div class="hire_rate_label">
            <i class="material-icons">
                access_time
            </i>
            <span>5:32pm</span>
        </div>
        <div class="hire_rate_rate">08-Sep-18</div>
    </div>
    <div class="hire_rate margin-left-15 enquiry_author">
        <div class="hire_rate_label">FROM</div>
        <div class="hire_rate_rate text_truncate">OLUWATOBI AMUSAN</div>
    </div>
</div>