<div style="width: 100%; height: 100vh;" data-simplebar>
	<div style="width: 85%; height: 50px; padding-top: 40px; margin: auto;">
		<div style="width: 150px; height: 45px; float: left; margin-right: 50px;">
			<img src="assets/images/logo_stacked.png" height="100%">
		</div>
		<div style="width: calc(100% - 200px); height: 45px; float: left;">
			<div style="width: 35%; height: calc(100% - 10px); float: left; padding-top: 5px;">
				<div style="width: calc(100% - 3px); height: 32px; background: #F58634; border-radius: 10px; padding-top: 3px; padding-left: 3px;">
					<div style="width: calc(100% - 130px); height: 29px; float: left;">
						<input style="width: calc(100% - 10px); height: 100%; background: #FFF; border: none; border-radius: 7px 0 0 7px; padding: 0; padding-left: 10px; outline: 0;" />
					</div>
					<div style="width: 130px; height: 29px; float: left; position: relative; color: #FFF; font-size: 0.8rem; font-weight: 500; cursor: pointer;">
						<span class="center_item">SEARCH</span>
					</div>
				</div>
			</div>
			<div style="width: calc(65% - 20px); height: 100%; float: left; margin-left: 20px;">
				<div class="nowrap" style="width: 130px; height: 30px; border-radius: 5px; background: #056A9F; float: left; font-size: 0.8rem; position: relative; margin-right: 10px; color: #FFF; margin-top: 8px; cursor: pointer;">
					<span class="center_item">POST A VESSEL</span>
				</div>
				<div class="nowrap" style="width: 180px; height: 30px; border-radius: 5px; background: #056A9F; float: left; font-size: 0.8rem; position: relative; color: #FFF; margin-top: 8px; cursor: pointer;">
					<span class="center_item">POST PROCUREMENT AD</span>
				</div>
				<div style="width: calc(100% - 320px); height: 100%; float: left;">
					<div class="nowrap" style="width: 50%; height: 100%; float: left; position: relative; color: #000; font-size: 0.8rem;">
						<span class="center_item">JOIN MVXCHANGE</span>
					</div>
					<div class="nowrap" style="width: 30%; height: 100%; float: left; position: relative; color: #000; font-size: 0.8rem;">
						<span class="center_item">SIGN IN</span>
					</div>
					<div style="width: 20%; height: 100%; float: left; position: relative; color: #000; font-size: 0.8rem; cursor: pointer;">
						<img src="assets/images/ham_black.png" height="28" class="center_item_vertically" style="right: 0;">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="width: 85%; height: auto; padding-top: 40px; margin: auto; margin-bottom: 30px;">
		<div style="width: calc(100% - 400px); height: auto; padding: 0 200px; margin-bottom: 40px; text-align: center; font-size: 1.15rem; color: #919193;">
			Motor Vessel Xchange (MVX / MVXchange) is an online marketplace and marine logistics service enabling people to search, find, sell, purchase and/or charter suitable marine equipment and oil & gas equipment and products
		</div>
		<div style="width: 300px; height: 45px; background: #056A9F; position: relative; color: #FFF; margin: auto; cursor: pointer;">
			<span class="center_item">
				CHARTER VESSEL
			</span>
		</div>
	</div>
	<div style="width: 85%; height: 450px; padding-top: 40px; margin: auto; margin-bottom: 50px;">
		<div style="width: calc((100% - 20px) / 2); height: 100%; float: left; background: linear-gradient(to right, #80A3BC , #ABC5D2); margin-right: 20px; border-radius: 10px;">
			<div class="relative-container" style="background: url(assets/images/bg1.png); background-position: center; background-repeat: no-repeat;">
				<div style="width: auto; height: 37px; padding: 0 50px; background: #FFF; display: inline-block; padding-top: 13px; border-radius: 10px 0 0 10px; position: absolute; right: 0; bottom: 40px; font-weight: bold;">
					VIEW ALL VESSELS
				</div>
			</div>
		</div>
		<div style="width: calc((100% - 20px) / 2); height: 100%; float: left; background: linear-gradient(to right, #80A3BC , #ABC5D2); border-radius: 10px;">
			<div class="relative-container" style="background: url(assets/images/bg2.png); background-position: center; background-repeat: no-repeat;">
				<div style="width: auto; height: 37px; padding: 0 50px; background: #FFF; display: inline-block; padding-top: 13px; border-radius: 10px 0 0 10px; position: absolute; right: 0; bottom: 40px; font-weight: bold;">
					VIEW ALL PROCUREMENT ITEMS
				</div>
			</div>
		</div>
	</div>
	<div style="width: 85%; height: 45px; margin: auto; margin-bottom: 20px;">
		<div style="width: calc(50% - 10px); height: 45px; border-bottom: 1px solid #00afef;">
			<div style="width: auto; display: inline-block; height: 42px; border-bottom: 3px solid #00afef; color: #056a9f; font-weight: bold;">
				FEATURED VESSELS
			</div>
		</div>
	</div>
	<div style="width: calc(85% + 10px); height: 250px; margin: auto; margin-bottom: 50px; position: relative;">
		<div class="center_item_vertically" style="width: 40px; height: 40px; border-radius: 40px; background: #FFF; position: absolute; left: -15px; z-index: 9;">
			
		</div>
		<div class="center_item_vertically" style="width: 40px; height: 40px; border-radius: 40px; background: #FFF; position: absolute; right: -15px; z-index: 9;">
			
		</div>
		<div style="width: 100%; height: 100%">
			<slick id="slideWeb" infinite=true slides-to-show=4 responsive autoplay=true slides-to-scroll=1>
				<div style="width: calc((100% - 30px) / 4); height: 250px; float: left; border-radius: 7px; background: url(assets/images/featured1.png); background-repeat: no-repeat; background-size: cover; background-position: center; margin: 0 5px; overflow: hidden;">
					<div style="width: 100%; height: 100%; background: rgba(5, 106, 159, 0.7); padding-top: 150px;">
						<div style="width: 85%; height: 100px; margin: auto;">
							<div style="width: 90%; height: 32px; background: #FFF; border-radius: 5px; position: relative; font-style: italic;">
								<span class="center_item_vertically" style="padding-left: 10px; font-size: 0.9rem;">Ro-Pax vessels</span>
							</div>
							<div style="width: 100%; position: relative; font-size: 0.8rem; color: #FFF; padding-top: 10px; height: 38px;" class="text_truncate_two">
								Passenger ships and ferries are among the most complex ships to . . .
							</div>
						</div>
					</div>
				</div>
				<div style="width: calc((100% - 30px) / 4); height: 250px; float: left; border-radius: 7px; background: url(assets/images/featured2.png); background-repeat: no-repeat; background-size: cover; background-position: center; margin: 0 5px; overflow: hidden;">
					<div style="width: 100%; height: 100%; background: rgba(5, 106, 159, 0.7); padding-top: 150px;">
						<div style="width: 85%; height: 100px; margin: auto;">
							<div style="width: 90%; height: 32px; background: #FFF; border-radius: 5px; position: relative; font-style: italic;">
								<span class="center_item_vertically" style="padding-left: 10px; font-size: 0.9rem;">Ro-Pax vessels</span>
							</div>
							<div style="width: 100%; position: relative; font-size: 0.8rem; color: #FFF; padding-top: 10px; height: 38px;" class="text_truncate_two">
								Passenger ships and ferries are among the most complex ships to . . .
							</div>
						</div>
					</div>
				</div>
				<div style="width: calc((100% - 30px) / 4); height: 250px; float: left; border-radius: 7px; background: url(assets/images/featured3.png); background-repeat: no-repeat; background-size: cover; background-position: center; margin: 0 5px; overflow: hidden;">
					<div style="width: 100%; height: 100%; background: rgba(5, 106, 159, 0.7); padding-top: 150px;">
						<div style="width: 85%; height: 100px; margin: auto;">
							<div style="width: 90%; height: 32px; background: #FFF; border-radius: 5px; position: relative; font-style: italic;">
								<span class="center_item_vertically" style="padding-left: 10px; font-size: 0.9rem;">Ro-Pax vessels</span>
							</div>
							<div style="width: 100%; position: relative; font-size: 0.8rem; color: #FFF; padding-top: 10px; height: 38px;" class="text_truncate_two">
								Passenger ships and ferries are among the most complex ships to . . .
							</div>
						</div>
					</div>
				</div>
				<div style="width: calc((100% - 30px) / 4); height: 250px; float: left; border-radius: 7px; background: url(assets/images/featured4.png); background-repeat: no-repeat; background-size: cover; background-position: center; margin: 0 5px; overflow: hidden;">
					<div style="width: 100%; height: 100%; background: rgba(5, 106, 159, 0.7); padding-top: 150px;">
						<div style="width: 85%; height: 100px; margin: auto;">
							<div style="width: 90%; height: 32px; background: #FFF; border-radius: 5px; position: relative; font-style: italic;">
								<span class="center_item_vertically" style="padding-left: 10px; font-size: 0.9rem;">Ro-Pax vessels</span>
							</div>
							<div style="width: 100%; position: relative; font-size: 0.8rem; color: #FFF; padding-top: 10px; height: 38px;" class="text_truncate_two">
								Passenger ships and ferries are among the most complex ships to . . .
							</div>
						</div>
					</div>
				</div>
				<div style="width: calc((100% - 30px) / 4); height: 250px; float: left; border-radius: 7px; background: url(assets/images/featured1.png); background-repeat: no-repeat; background-size: cover; background-position: center; margin: 0 5px; overflow: hidden;">
					<div style="width: 100%; height: 100%; background: rgba(5, 106, 159, 0.7); padding-top: 150px;">
						<div style="width: 85%; height: 100px; margin: auto;">
							<div style="width: 90%; height: 32px; background: #FFF; border-radius: 5px; position: relative; font-style: italic;">
								<span class="center_item_vertically" style="padding-left: 10px; font-size: 0.9rem;">Ro-Pax vessels</span>
							</div>
							<div style="width: 100%; position: relative; font-size: 0.8rem; color: #FFF; padding-top: 10px; height: 38px;" class="text_truncate_two">
								Passenger ships and ferries are among the most complex ships to . . .
							</div>
						</div>
					</div>
				</div>
			</slick>
		</div>
	</div>
	<div style="width: calc(85% + 10px); height: auto; margin: auto; margin-bottom: 50px; position: relative;">
		<div style="width: 300px; height: auto; min-height: 400px; float: left; margin-right: 20px;">
			<div style="width: 100%; height: 45px; border-bottom: 1px solid #00afef;">
				<div style="width: auto; display: inline-block; height: 42px; border-bottom: 3px solid #00afef; color: #056a9f; font-weight: bold;">
					GLOBAL NEWS
				</div>
			</div>
			<div style="width: 100%; height: 250px; background: #000; margin-bottom: 50px;">
				
			</div>
			<div style="width: 100%; height: 45px; border-bottom: 1px solid #00afef;">
				<div style="width: auto; display: inline-block; height: 42px; border-bottom: 3px solid #00afef; color: #056a9f; font-weight: bold;">
					WEST AFRICAN NEWS
				</div>
			</div>
			<div style="width: 100%; height: 500px; background: #000; margin-bottom: 50px;">
				
			</div>
		</div>
		<div style="width: calc(100% - 320px); height: auto; min-height: 400px; float: left;">
			<div style="width: 100%; height: 45px; border-bottom: 1px solid #00afef;">
				<div style="width: auto; display: inline-block; height: 42px; border-bottom: 3px solid #00afef; color: #056a9f; font-weight: bold;">
					COMMODITIES
				</div>
			</div>
			<div style="width: 100%; height: 350px; background: #000; margin-bottom: 50px;">
			
			</div>
			<div style="width: 100%; height: 45px; border-bottom: 1px solid #00afef;">
				<div style="width: auto; display: inline-block; height: 42px; border-bottom: 3px solid #00afef; color: #056a9f; font-weight: bold;">
					FEATURED
				</div>
			</div>
			<div style="width: 100%; height: 600px; background: #000; margin-bottom: 50px;">
			
			</div>
		</div>
		<div class="clear-both"></div>
	</div>
	<div style="width: calc(85% + 10px); height: auto; margin: auto; margin-bottom: 50px; position: relative;">
		<div style="width: 100%; height: 45px; border-bottom: 1px solid #00afef;">
			<div style="width: auto; display: inline-block; height: 42px; border-bottom: 3px solid #00afef; color: #056a9f; font-weight: bold;">
				PARTNERS
			</div>
		</div>
		<div style="width: 100%; height: 150px; background: #000; margin-bottom: 50px;">
			
		</div>
	</div>
	<div style="width: 100%; height: 300px; margin: auto; position: relative; background: linear-gradient(to right, #056A9F , #69A6C5);">
		
	</div>

</div>