<div class="mainArea" ng-class="{'showingLink': showLinks}">
	<div class="relative-container">
		<div class="dim" ng-class="{show_dim: showingMore}" ng-click="closeMore();"></div>
		<div class="mvx_header">
			<div class="logo">
				<img src="assets/images/logo_stacked.png" height="100%">
			</div>
			<div class="mvx_headeraction" ng-class="{expanded: mvx_globals.currentUser}">
				<div class="mvx_links" ng-class="{'fixed': showLinks}">
					<div class="mvx_morelinks">
						<div class="nowrap mvx_morelink join" ng-click="signup();" ng-if="!mvx_globals.currentUser">
							<span>JOIN MVXCHANGE</span>
						</div>
						<div class="nowrap mvx_morelink signin" ng-click="gotoLogin();" ng-if="!mvx_globals.currentUser">
							<span>SIGN IN</span>
						</div>
						<div class="nowrap mvx_morelink_logged" ng-if="mvx_globals.currentUser">
							<div class="profile" style="border: 1px solid {{getColor(mvx_globals.currentUser.userdata.data.display_name)}};">
								<span class="center_item" style="color: {{getColor(mvx_globals.currentUser.userdata.data.display_name)}};">
									{{getInitials(mvx_globals.currentUser.userdata.data.display_name)}}
								</span>
							</div>
							<div class="profile_access" style="width: auto; float: left; padding-left: 10px;">
								<div style="width: 100%; height: 25px; padding-top: 5px;" class="text_truncate">
									{{getName(mvx_globals.currentUser.userdata.data.display_name)}}
								</div>
								<div class="account_actions text_truncate">
									<div class="account_action left" ng-click="dashboard();">DASHBOARD</div><div> \ </div><div class="account_action right" ng-click="logout();">LOGOUT</div>
								</div>
							</div>
						</div>
						<div class="mvx_toggle float-right" ng-click="toggleMore();">
							<div class="wrapper-menu" ng-class="{'open': showingMore}">
								<div class="line-menu half start"></div>
								<div class="line-menu"></div>
								<div class="line-menu half end"></div>
							</div>
						</div>
					</div>
					<div class="nowrap mvx_link addvessel" ng-click="addvessel();" ng-if="(mvx_globals.currentUser.userdata.data.category == 'Ship Owner') || !mvx_globals.currentUser">
						<div class="label">ADD A VESSEL</div>
						<div class="caret">
							<i class="material-icons center_item">keyboard_arrow_right</i>
						</div>
						<div class="clear-both"></div>
					</div>
					<div class="nowrap mvx_link addvessel" ng-click="charter();" ng-if="(mvx_globals.currentUser.userdata.data.category == 'Charterer') || !mvx_globals.currentUser">
						<div class="label">CHARTER VESSEL</div>
						<div class="caret">
							<i class="material-icons center_item">keyboard_arrow_right</i>
						</div>
						<div class="clear-both"></div>
					</div>
					<div class="nowrap mvx_link addvessel" ng-if="mvx_globals.currentUser" ng-click="dashboard();">
						<div class="label">DASHBOARD</div>
						<div class="caret">
							<i class="material-icons center_item">keyboard_arrow_right</i>
						</div>
						<div class="clear-both"></div>
					</div>
				</div>
				<div class="mvx_search">
					<i class="material-icons center_item">search</i>
				</div>
			</div>
		</div>
		<div class="mvx_actionarea">
			<div class="mvx_shortinfo_header noselect">
				Empower. Improve performance.
			</div>
			<div class="mvx_shortinfo noselect">
				We empower our community to conveniently charter and manage offshore support vessels while reducing man-hours, saving cost and improving performance.
			</div>
			<div class="mvx_actionbtn animated infinite" ng-class="{pulsate: mvx_globals.currentUser}" ng-click="charter();" ng-if="mvx_globals.currentUser.userdata.data.category == 'Charterer' || !mvx_globals.currentUser">
				<span class="center_item nowrap">
					CHARTER WITH MVXCHANGE
				</span>
			</div>
			<div class="mvx_actionbtn infinite" ng-class="{'pulsate': mvx_globals.currentUser}" ng-click="addvessel();" ng-if="mvx_globals.currentUser.userdata.data.category == 'Ship Owner'">
				<span class="center_item nowrap">
					ADD VESSEL NOW
				</span>
			</div>
		</div>
		<div class="mvx_featuredlabel" ng-if="(mvx_globals.currentUser.userdata.data.category == 'Ship Owner')">
			<div class="mvx_labels">
				<div>
					LATEST CHARTERS
				</div>
			</div>
		</div>
		<div class="mvx_featuredlabel" ng-if="(mvx_globals.currentUser.userdata.data.category == 'Charterer') || !mvx_globals.currentUser">
			<div class="mvx_labels">
				<div>
					LATEST VESSELS
				</div>
			</div>
		</div>
		<div class="mvx_featuredcontent" ng-if="(mvx_globals.currentUser.userdata.data.category == 'Ship Owner')">
			<div class="spinner page-loading center_item" style="top: 40%;" ng-if="!charters">
		        <div class="bounce1"></div>
		        <div class="bounce2"></div>
		        <div class="bounce3"></div>
		    </div>
			<div class="relative-container web" ng-if="charters">
				<ui-carousel slides="charters" slides-to-show="4" slides-to-scroll="1" initial-slide="1" autoplay="true" autoplay-speed="4000" dots="false" arrows="true" speed="800">
					<carousel-item>
						<div class="featuredVessel btnHover" ng-click="$parent.$parent.charterInformation(item);" style="background: #FEFEFE;">
							<div ui-view="charter"></div>
						</div>
					</carousel-item>
					<carousel-prev>
						<div class="center_item_vertically mvx_featuredcontrols left slick-previous">
							<div class="relative-container">
								<div class="center_item navigation_arrow left"></div>
							</div>
						</div>
					</carousel-prev>
					<carousel-next>
						<div class="center_item_vertically mvx_featuredcontrols right slick-nextbtn">
							<div class="relative-container">
								<div class="center_item navigation_arrow right"></div>
							</div>
						</div>
					</carousel-next>
				</ui-carousel>
			</div>
			<div class="relative-container mobile" ng-if="charters">
				<ui-carousel slides="charters" slides-to-show="1" slides-to-scroll="1" initial-slide="1" autoplay="true" autoplay-speed="4000" dots="false" arrows="true" speed="800">
					<carousel-item>
						<div class="featuredVessel btnHover" ng-click="$parent.$parent.charterInformation(item);" style="background: #FEFEFE;">
							<div ui-view="charter"></div>
						</div>
					</carousel-item>
					<carousel-prev>
						<div class="center_item_vertically mvx_featuredcontrols left slick-previous">
							<div class="relative-container">
								<div class="center_item navigation_arrow left"></div>
							</div>
						</div>
					</carousel-prev>
					<carousel-next>
						<div class="center_item_vertically mvx_featuredcontrols right slick-nextbtn">
							<div class="relative-container">
								<div class="center_item navigation_arrow right"></div>
							</div>
						</div>
					</carousel-next>
				</ui-carousel>
			</div>
		</div>
		<div class="mvx_featuredcontent" ng-if="(mvx_globals.currentUser.userdata.data.category == 'Charterer') || !mvx_globals.currentUser">
			<div class="spinner page-loading center_item" style="top: 40%;" ng-if="!vessels">
		        <div class="bounce1"></div>
		        <div class="bounce2"></div>
		        <div class="bounce3"></div>
		    </div>
			<div class="relative-container web" ng-if="vessels">
				<ui-carousel slides="vessels" slides-to-show="4" slides-to-scroll="1" initial-slide="1" autoplay="true" autoplay-speed="4000" dots="false" arrows="true" speed="800">
					<carousel-item>
						<div class="featuredVessel btnHover" style="background: #FEFEFE;" ng-click="$parent.$parent.vesselInformation(item);">
							<div ui-view="vessel"></div>
						</div>
					</carousel-item>
					<carousel-prev>
						<div class="center_item_vertically mvx_featuredcontrols left slick-previous">
							<div class="relative-container">
								<div class="center_item navigation_arrow left"></div>
							</div>
						</div>
					</carousel-prev>
					<carousel-next>
						<div class="center_item_vertically mvx_featuredcontrols right slick-nextbtn">
							<div class="relative-container">
								<div class="center_item navigation_arrow right"></div>
							</div>
						</div>
					</carousel-next>
				</ui-carousel>
			</div>
			<div class="relative-container mobile" ng-if="vessels">
				<ui-carousel slides="vessels" slides-to-show="1" slides-to-scroll="1" initial-slide="1" autoplay="true" autoplay-speed="4000" dots="false" arrows="true" speed="800">
					<carousel-item>
						<div class="featuredVessel btnHover" style="background: #FEFEFE;" ng-click="$parent.$parent.vesselInformation(item);">
							<div ui-view="vessel"></div>
						</div>
					</carousel-item>
					<carousel-prev>
						<div class="center_item_vertically mvx_featuredcontrols left slick-previous">
							<div class="relative-container">
								<div class="center_item navigation_arrow left"></div>
							</div>
						</div>
					</carousel-prev>
					<carousel-next>
						<div class="center_item_vertically mvx_featuredcontrols right slick-nextbtn">
							<div class="relative-container">
								<div class="center_item navigation_arrow right"></div>
							</div>
						</div>
					</carousel-next>
				</ui-carousel>
			</div>
		</div>

		<div class="mvx_ads">
			<div class="mvx_ad one" ng-click="addvessel();">
				<div class="mvx_ad_header">
					Manage Your Vessel Fleet
				</div>
				<div class="mvx_ad_subtext">
					Take control of your vessel engagement. Skip the middleman.
				</div>
				<div class="mvx_adlabel">
					<div style="position: relative;">
						ADD YOUR VESSEL
						<div class="round">
					        <div id="cta">
					            <span class="arrow primera next "></span>
					            <span class="arrow segunda next "></span>
					        </div>
					    </div>
					</div>
				</div>
				<div class="relative-container">
				</div>
			</div>
			<div class="mvx_ad two" ng-click="charter();">
				<div class="mvx_ad_header">
					Manage Your Vessel Chartering Process
				</div>
				<div class="mvx_ad_subtext">
					Take control of your time. Improve your performance.
				</div>
				<div class="mvx_adlabel">
					<div style="position: relative;">
						CHARTER VESSEL
						<div class="round">
					        <div id="cta">
					            <span class="arrow primera next "></span>
					            <span class="arrow segunda next "></span>
					        </div>
					    </div>
					</div>
				</div>
				<div class="relative-container">
				</div>
			</div>
			<div class="clear-both"></div>
		</div>
		<!-- <div class="mvx_content">
			<div class="mvx_labels">
				<div>
					PARTNERS
				</div>
			</div>
			<div class="mvx_partners">
				<div class="mvx_partner one"></div>
				<div class="mvx_partner two"></div>
				<div class="mvx_partner three"></div>
				<div class="mvx_partner five"></div>
				<div class="mvx_partner six"></div>
				<div class="mvx_partner seven"></div>
				<div class="clear-both"></div>
			</div>
		</div> -->
		<div class="mvx_footer">
			<div class="top">
				<div class="left">
					<div class="header">
						We are building the future of Vessel Chartering.
					</div>
					<div class="copy">
						Join us and be the first to know when we launch
					</div>
					<div class="mvx_newsletter">
						<div class="input">
							<input type="text" class="mvx_btn" placeholder="Email address">
						</div>
						<div class="mvx_nbtn">
							<button>
								JOIN US NOW
							</button>
						</div>
						<div class="clear-both"></div>
					</div>
				</div>
				<div class="right">
					<div class="header">
						FOLLOW US
					</div>
					<div class="mvx_socials">
						<div class="mvx_social" ng-click="openUrl('https://www.facebook.com/mvxchange/');">
							<i class="fa fa-facebook center_item_vertically"></i>
						</div>
						<div class="mvx_social" ng-click="openUrl('https://twitter.com/MVXchange');">
							<i class="fa fa-twitter center_item_vertically"></i>
						</div>
						<div class="mvx_social" ng-click="openUrl('https://www.instagram.com/mvxchange/');">
							<i class="fa fa-instagram center_item_vertically"></i>
						</div>
						<div class="mvx_social" ng-click="openUrl('https://www.linkedin.com/company/mvxchange/about/');">
							<i class="fa fa-linkedin center_item_vertically"></i>
						</div>
					</div>
					<div class="header">
						QUICK LINKS
					</div>
					<div class="mvx_quicklinks">
						<div class="mvx_quicklink" ng-click="gotoLogin();" ng-if="!mvx_globals.currentUser">
							<span class="center_item_vertically">
								LOGIN
							</span>
						</div>
						<div class="mvx_quicklink" ng-click="logout();" ng-if="mvx_globals.currentUser">
							<span class="center_item_vertically">
								LOGOUT
							</span>
						</div>
						<div class="mvx_quicklink" ng-click="signup();" ng-if="!mvx_globals.currentUser">
							<span class="center_item_vertically">
								SIGN UP
							</span>
						</div>
						<div class="mvx_quicklink" ng-click="dashboard();" ng-if="mvx_globals.currentUser">
							<span class="center_item_vertically">
								DASHBOARD
							</span>
						</div>
						<div class="mvx_quicklink">
							<span class="center_item_vertically">
								HELP
							</span>
						</div>
					</div>
				</div>
				<div class="clear-both"></div>
			</div>
			<div class="bottom">
				<span class="center_item_vertically nowrap">
					&copy; 2018 MVXchange. All rights reserved
				</span>
			</div>
		</div>
	</div>
</div>
<div class="links fixed" ng-class="{'showingLink': showLinks}">
	<div class="link" ng-click="signup(); showLink();">
		<div class="icon">
			<i class="material-icons center_item">assignment_ind</i>
		</div>
		<div class="label">
			<span class="center_item_vertically nowrap abs-right">JOIN MVXCHANGE</span>
		</div>
	</div>
	<div class="link" ng-click="gotoLogin(); showLink();">
		<div class="icon">
			<i class="material-icons center_item">fingerprint</i>
		</div>
		<div class="label">
			<span class="center_item_vertically nowrap abs-right">LOGIN</span>
		</div>
	</div>
	<div class="link">
		<div class="icon">
			<i class="material-icons center_item">add_box</i>
		</div>
		<div class="label">
			<span class="center_item_vertically nowrap abs-right">POST VESSEL</span>
		</div>
	</div>
	<div class="link">
		<div class="icon">
			<i class="material-icons center_item">add_box</i>
		</div>
		<div class="label">
			<span class="center_item_vertically nowrap abs-right">POST PROCUREMENT</span>
		</div>
	</div>
</div>