<div class="mvx_header">
	<div class="logo">
		<img src="assets/images/logo_stacked.png" height="100%">
	</div>
	<div class="mvx_headeraction">
		<div class="mvx_searchbarcontainer">
			<div class="cover">
				<div class="mvx_searchinput">
					<input />
				</div>
				<div class="mvx_searchbtn">
					<span class="center_item">SEARCH</span>
				</div>
			</div>
		</div>
		<div class="mvx_links">
			<div class="nowrap mvx_link addvessel">
				<span class="center_item">POST A VESSEL</span>
			</div>
			<div class="nowrap mvx_link addad">
				<span class="center_item">POST PROCUREMENT AD</span>
			</div>
			<div class="mvx_morelinks">
				<div class="nowrap mvx_morelink join" ng-click="signup();">
					<span class="center_item">JOIN MVXCHANGE</span>
				</div>
				<div class="nowrap mvx_morelink signin" ng-click="login();">
					<span class="center_item">SIGN IN</span>
				</div>
				<div class="mvx_toggle">
					<img src="assets/images/ham_black.png" height="28" class="center_item_vertically" style="right: 0;">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mvx_actionarea">
	<div class="mvx_shortinfo">
		Motor Vessel Xchange (MVX / MVXchange) is a vessel chartering + brokerage and procurement marketplace for the energy industry.
	</div>
	<div class="mvx_actionbtn">
		<span class="center_item">
			CHARTER VESSEL
		</span>
	</div>
</div>
<div class="mvx_ads">
	<div class="mvx_ad one">
		<div class="relative-container">
			<div class="mvx_adlabel">
				VIEW ALL VESSELS
			</div>
		</div>
	</div>
	<div class="mvx_ad two">
		<div class="relative-container">
			<div class="mvx_adlabel">
				VIEW ALL PROCUREMENT ITEMS
			</div>
		</div>
	</div>
	<div class="clear-both"></div>
</div>
<div class="mvx_featuredlabel">
	<div class="mvx_labels">
		<div>
			FEATURED VESSELS
		</div>
	</div>
</div>
<div class="mvx_featuredcontent">
	<div class="center_item_vertically mvx_featuredcontrols left">
		
	</div>
	<div class="center_item_vertically mvx_featuredcontrols right">
		
	</div>
	<div class="relative-container web">
		<slick id="slideWeb" infinite=true slides-to-show=4 responsive autoplay=true slides-to-scroll=1>
			<div class="featuredvessel" style="background: url(assets/images/featured1.png);">
				<div class="layer">
					<div class="content">
						<div class="title">
							<span class="center_item_vertically">Ro-Pax vessels</span>
						</div>
						<div class="desc text_truncate_two">
							Passenger ships and ferries are among the most complex ships to . . .
						</div>
					</div>
				</div>
			</div>
			<div class="featuredvessel" style="background: url(assets/images/featured2.png);">
				<div class="layer">
					<div class="content">
						<div class="title">
							<span class="center_item_vertically">Ro-Pax vessels</span>
						</div>
						<div class="desc text_truncate_two">
							Passenger ships and ferries are among the most complex ships to . . .
						</div>
					</div>
				</div>
			</div>
			<div class="featuredvessel" style="background: url(assets/images/featured3.png);">
				<div class="layer">
					<div class="content">
						<div class="title">
							<span class="center_item_vertically">Ro-Pax vessels</span>
						</div>
						<div class="desc text_truncate_two">
							Passenger ships and ferries are among the most complex ships to . . .
						</div>
					</div>
				</div>
			</div>
			<div class="featuredvessel" style="background: url(assets/images/featured4.png);">
				<div class="layer">
					<div class="content">
						<div class="title">
							<span class="center_item_vertically">Ro-Pax vessels</span>
						</div>
						<div class="desc text_truncate_two">
							Passenger ships and ferries are among the most complex ships to . . .
						</div>
					</div>
				</div>
			</div>
			<div class="featuredvessel" style="background: url(assets/images/featured1.png);">
				<div class="layer">
					<div class="content">
						<div class="title">
							<span class="center_item_vertically">Ro-Pax vessels</span>
						</div>
						<div class="desc text_truncate_two">
							Passenger ships and ferries are among the most complex ships to . . .
						</div>
					</div>
				</div>
			</div>
		</slick>
	</div>
	<div class="relative-container mobile">
		<slick id="slideWeb" infinite=true slides-to-show=1 responsive autoplay=true slides-to-scroll=1>
			<div class="featuredvessel" style="background: url(assets/images/featured1.png);">
				<div class="layer">
					<div class="content">
						<div class="title">
							<span class="center_item_vertically">Ro-Pax vessels</span>
						</div>
						<div class="desc text_truncate_two">
							Passenger ships and ferries are among the most complex ships to . . .
						</div>
					</div>
				</div>
			</div>
			<div class="featuredvessel" style="background: url(assets/images/featured2.png);">
				<div class="layer">
					<div class="content">
						<div class="title">
							<span class="center_item_vertically">Ro-Pax vessels</span>
						</div>
						<div class="desc text_truncate_two">
							Passenger ships and ferries are among the most complex ships to . . .
						</div>
					</div>
				</div>
			</div>
			<div class="featuredvessel" style="background: url(assets/images/featured3.png);">
				<div class="layer">
					<div class="content">
						<div class="title">
							<span class="center_item_vertically">Ro-Pax vessels</span>
						</div>
						<div class="desc text_truncate_two">
							Passenger ships and ferries are among the most complex ships to . . .
						</div>
					</div>
				</div>
			</div>
			<div class="featuredvessel" style="background: url(assets/images/featured4.png);">
				<div class="layer">
					<div class="content">
						<div class="title">
							<span class="center_item_vertically">Ro-Pax vessels</span>
						</div>
						<div class="desc text_truncate_two">
							Passenger ships and ferries are among the most complex ships to . . .
						</div>
					</div>
				</div>
			</div>
			<div class="featuredvessel" style="background: url(assets/images/featured1.png);">
				<div class="layer">
					<div class="content">
						<div class="title">
							<span class="center_item_vertically">Ro-Pax vessels</span>
						</div>
						<div class="desc text_truncate_two">
							Passenger ships and ferries are among the most complex ships to . . .
						</div>
					</div>
				</div>
			</div>
		</slick>
	</div>
</div>
<div class="mvx_content">
	<div class="mvx_labels">
		<div>
			FEATURED PROCUREMENT ITEMS
		</div>
	</div>
	<div class="mvx_procurementcontainers">
		<div class="featured_vessels">
			<div class="top">
				<div class="previewImg">
					
				</div>
			</div>
			<div class="bottom">
				
			</div>
		</div>
		<div class="featured_vessels">
			<div class="top">
				<div class="previewImg">
					
				</div>
			</div>
			<div class="bottom">
				
			</div>
		</div>
		<div class="featured_vessels">
			<div class="top">
				<div class="previewImg">
					
				</div>
			</div>
			<div class="bottom">
				
			</div>
		</div>
		<div class="featured_vessels">
			<div class="top">
				<div class="previewImg">
					
				</div>
			</div>
			<div class="bottom">
				
			</div>
		</div>
		<div class="featured_vessels">
			<div class="top">
				<div class="previewImg">
					
				</div>
			</div>
			<div class="bottom">
				
			</div>
		</div>
		<div class="featured_vessels">
			<div class="top">
				<div class="previewImg">
					
				</div>
			</div>
			<div class="bottom">
				
			</div>
		</div>
		<div class="clear-both"></div>
	</div>
	<div class="mvx_adspace"></div>
	<div class="mvx_procurementcontainers">
		<div class="featured_vessels">
			<div class="top">
				<div class="previewImg">
					
				</div>
			</div>
			<div class="bottom">
				
			</div>
		</div>
		<div class="featured_vessels">
			<div class="top">
				<div class="previewImg">
					
				</div>
			</div>
			<div class="bottom">
				
			</div>
		</div>
		<div class="featured_vessels">
			<div class="top">
				<div class="previewImg">
					
				</div>
			</div>
			<div class="bottom">
				
			</div>
		</div>
		<div class="featured_vessels">
			<div class="top">
				<div class="previewImg">
					
				</div>
			</div>
			<div class="bottom">
				
			</div>
		</div>
		<div class="featured_vessels">
			<div class="top">
				<div class="previewImg">
					
				</div>
			</div>
			<div class="bottom">
				
			</div>
		</div>
		<div class="featured_vessels">
			<div class="top">
				<div class="previewImg">
					
				</div>
			</div>
			<div class="bottom">
				
			</div>
		</div>
		<div class="clear-both"></div>
	</div>
	<div class="clear-both"></div>
</div>
<div class="mvx_content">
	<div class="mvx_labels">
		<div>
			PARTNERS
		</div>
	</div>
	<div class="mvx_partners">
		<div class="mvx_partner one"></div>
		<div class="mvx_partner two"></div>
		<div class="mvx_partner three"></div>
		<div class="mvx_partner four"></div>
		<div class="mvx_partner five"></div>
		<div class="mvx_partner six"></div>
		<div class="mvx_partner seven"></div>
		<div class="clear-both"></div>
	</div>
</div>
<div class="mvx_footer">
	<div class="top">
		<div class="left">
			<div class="header">
				Subscribe for our weekly newsletters.
			</div>
			<div class="copy">
				Keep abreast of recent happenings in the Oil and Gas industry by subscribing. We won't spam you, we promise :)
			</div>
			<div class="mvx_newsletter">
				<div class="input">
					<input type="text" class="mvx_btn" placeholder="Email address">
				</div>
				<div class="mvx_nbtn">
					<button>
						SUBSCRIBE
					</button>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="header">
				FOLLOW US
			</div>
			<div class="mvx_socials">
				<div class="mvx_social">
					<i class="fa fa-facebook center_item_vertically"></i>
				</div>
				<div class="mvx_social">
					<i class="fa fa-twitter center_item_vertically"></i>
				</div>
				<div class="mvx_social">
					<i class="fa fa-instagram center_item_vertically"></i>
				</div>
			</div>
			<div class="header">
				QUICK LINKS
			</div>
			<div class="mvx_quicklinks">
				<div class="mvx_quicklink">
					<span class="center_item_vertically">
						LOGIN
					</span>
				</div>
				<div class="mvx_quicklink">
					<span class="center_item_vertically">
						SIGN UP
					</span>
				</div>
				<div class="mvx_quicklink">
					<span class="center_item_vertically">
						CREATE AD
					</span>
				</div>
				<div class="mvx_quicklink">
					<span class="center_item_vertically">
						HELP
					</span>
				</div>
			</div>
		</div>
		<div class="clear-both"></div>
	</div>
	<div class="bottom">
		<span class="center_item_vertically nowrap">
			&copy; 2018 MVXchange. All rights reserved
		</span>
	</div>
</div>