<div class="relative-container logout">
	<div class="center_item signupContainer" click-anywhere-but-here="click();">
		<div class="signupForm signupSuccess">
			<div class="top" ui-view="successanimation">
				<div class="smiley angry">
				    <div class="eyes">
				        <div class="eye"></div>
				        <div class="eye"></div>
				    </div>
				    <div class="mouth"></div>
				</div>
			</div>
			<div class="bottom">
				<div class="header success">
					YOU'RE OUT!
				</div>
				<div class="details">
					We are not pleased about this. So we're taking you back to <span class="bold">LOG IN</span> in <div id="seconds"></div>:<div id="milliseconds"></div> seconds
				</div>
			</div>
		</div>
	</div>
</div>