<div class="mvx_overlay">
	<div class="relative-container">
		<div id="signupContainer" class="center_item signupContainer extratop" click-anywhere-but-here="click();" ng-class="{'expanded': signUpStep == 3}" data-simplebar ng-if="signUpStep != 4">
			<form ng-submit="proceed();" ng-if="signUpStep != 5">
				<div class="signupForm">
					<div class="alertMessage">
						<div class="alertBox" ng-class="{showingError: showingError, 'error-bg': signupError}">
							<div class="icon">
								<i class="material-icons center_item">info</i>
							</div>
							<div class="text">
								<span class="center_item_vertically" style="color: #aee4ff;" ng-if="!signupError">
									EMAIL TAKEN. <span class="emphasis" ng-click="gotoLogin();">LOGIN</span> or <span class="emphasis" ng-click="useAnother();">USE ANOTHER</span>
								</span>
								<span class="center_item_vertically" ng-if="signupError">
									<span class="emphasis">{{signupError}}</span>
								</span>
							</div>
							<div class="close" ng-click="closeError();">
								<i class="pe-7s-close center_item"></i>
							</div>
						</div>
					</div>
					<div style="width: 100%; height: calc(100% - 56px);">
						<div style="width: 80%; height: 40px; padding-top: 25px; margin: auto; color: #000; font-weight: bold; font-size: 1.1rem; text-align: center; margin-bottom: 20px;">
							<div class="backButton" ng-if="signUpStep > 1 && !showingError" ng-click="goBack();">
								<div class="relative-container">
									<i class="material-icons center_item_vertically">arrow_back</i>
								</div>
							</div>
							<span ng-if="signUpStep != 3">JOIN MVXCHANGE</span>
							<span ng-if="(signUpStep == 3) && (usersignup.category == 'Ship Owner')">SHIP OWNER REGISTRATION</span>
							<span ng-if="(signUpStep == 3) && (usersignup.category == 'Charterer')">CHARTERER</span>
							<!-- <span ng-if="(signUpStep == 3) && (usersignup.category == 'Procurement Vendor / Supplier')">PROCUREMENT VENDOR / SUPPLIER</span> -->
						</div>
						<div ng-if="signUpStep == 1">
							<div class="input-box" data-validate="Email address">
								<div class="label">
									<div class="hidden_label">
										EMAIL ADDRESS <span class="required">*</span>
									</div>
								</div>
								<div class="inputcontainer">
									<input id="useAnother" type="text" ng-model="usersignup.email" placeholder="Email Address" show-label>
								</div>
								<div class="status error"></div>
							</div>
						</div>
						<div ui-view="choosecategory" ng-if="signUpStep == 2">
							
						</div>
						<div ui-view="shipowner" ng-if="(signUpStep == 3) && (usersignup.category == 'Ship Owner')">
							
						</div>
						<div ui-view="charterer" ng-if="(signUpStep == 3) && (usersignup.category == 'Charterer')">
							
						</div>
						<div class="input-box extend">
							<button type="submit" class="of_btn">
								<span class="center_item" ng-if="!processing && (signUpStep < 3)">CONTINUE</span>
								<span class="center_item" ng-if="!processing && (signUpStep == 3)">SUBMIT</span>
								<div class="spinner" ng-show="processing">
							        <div class="bounce1"></div>
							        <div class="bounce2"></div>
							        <div class="bounce3"></div>
							    </div>
							</button>
							<span style="color: #AAA; font-size: 0.7rem; text-align: center;">
								By joining I agree to receive emails from MvXchange.
							</span>
						</div>
					</div>
					<div class="input-box align-center alt-opts">
						Already a member? <span class="emphasis" ng-click="gotoLogin();">SIGN IN</span>
					</div>
				</div>
			</form>
		</div>
		<div class="center_item signupContainer" click-anywhere-but-here="click();" ng-if="signUpStep == 4">
			<div class="signupForm signupSuccess">
				<div class="top" ui-view="successanimation"></div>
				<div class="bottom">
					<div class="header success">
						SIGNUP SUCCESSFUL
					</div>
					<div class="details">
						You will be redirected to <span class="bold">VERIFICATION</span> in <div id="seconds"></div>:<div id="milliseconds"></div> seconds
					</div>
				</div>
			</div>
		</div>
	</div>
</div>