<div class="input-box" data-validate="Name">
	<div class="label">
		<div class="hidden_label">
			NAME <span class="required">*</span>
		</div>
	</div>
	<div class="inputcontainer">
		<input type="text" ng-model="user.charterername" placeholder="Name">
	</div>
	<div class="status error"></div>
	<div class="clear-both"></div>
</div>
<div class="input-box" data-validate="Company Name">
	<div class="label">
		<div class="hidden_label">
			COMPANY NAME <span class="required">*</span>
		</div>
	</div>
	<div class="inputcontainer">
		<input type="text" ng-model="user.charterercompanyname" placeholder="Company Name">
	</div>
	<div class="status error"></div>
	<div class="clear-both"></div>
</div>
<div class="input-box">
	<div class="input-box box-half" data-validate="Email address">
		<div class="label">
			<div class="hidden_label">
				EMAIL <span class="required">*</span>
			</div>
		</div>
		<div class="inputcontainer">
			<input type="text" ng-model="user.email" placeholder="Email" readonly="readonly" disabled="disabled">
		</div>
		<div class="status error"></div>
		<div class="clear-both"></div>
	</div>
	<div class="input-box box-half padding-bottom-30 last" data-validate="Phone number">
		<div class="label">
			<div class="hidden_label">
				PHONE NUMBER <span class="required">*</span>
			</div>
		</div>
		<div class="inputcontainer">
			<input type="text" ng-model="user.charterermobile" placeholder="Phone Number">
		</div>
		<div class="status error"></div>
		<div class="clear-both"></div>
	</div>
	<div class="clear-both"></div>
</div>