<div class="input-box verbose" data-validate="Category">
	<div class="label">
		CATEGORY
	</div>
	<div class="inputcontainer">
		<select ng-model="user.shipcategory">
			<option value="">
				Choose Ship Owner Category
			</option>
			<option value="Ship Owner">
				Ship Owner
			</option>
			<option value="Ship Management Company">
				Ship Management Company
			</option>
			<option value="Brokerage Firm">
				Brokerage Firm
			</option>
		</select>
	</div>
	<div class="status error"></div>
	<div class="clear-both"></div>
</div>
<div class="section-label">
	BUSINESS DETAILS
</div>
<div class="input-box" data-validate="Company Logo" data-option="file-input">
	<div class="inputcontainer" onclick="document.getElementById('companylogo').click();">
		<div class="image-field">
			<div class="icon" ng-style="user.companylogopreview">
				<i class="fa fa-picture-o center_item" ng-if="!user.companylogo"></i>
			</div>
			<div class="copy">
				<span class="center_item_vertically" ng-if="!user.companylogo">Upload Company Logo</span>
				<span class="center_item_vertically" ng-if="user.companylogo">{{user.companylogoname}}</span>
			</div>
		</div>
	</div>
	<div class="status error"></div>
	<div class="clear-both"></div>
	<input type="file" accept="image/*" class="fileField" id="companylogo" onchange="angular.element(this).scope().fileChanged(this, 'companylogo')">
	<input type="hidden" class="hidden" ng-value="user.companylogo">                    			
</div>
<div class="input-box" data-validate="Business Name">
	<div class="label">
		<div class="hidden_label">
			BUSINESS NAME <span class="required">*</span>
		</div>
	</div>
	<div class="inputcontainer">
		<input type="text" ng-model="user.shipbusinessname" placeholder="Business Name">
	</div>
	<div class="status error"></div>
	<div class="clear-both"></div>
</div>
<div class="input-box">
	<div class="input-box box-half" data-validate="Company Registration Number">
		<div class="label">
			<div class="hidden_label">
				COMPANY REGISTRATION NUMBER <span class="required">*</span>
			</div>
		</div>
		<div class="inputcontainer">
			<input type="text" ng-model="user.shipcompanyregistrationnumber" placeholder="Company Registration Number">
		</div>
		<div class="status error"></div>
		<div class="clear-both"></div>
	</div>
	<div class="input-box box-half last" data-validate="Website">
		<div class="label">
			<div class="hidden_label">
				WEBSITE <span class="required">*</span>
			</div>
		</div>
		<div class="inputcontainer">
			<input type="text" ng-model="user.shipwebsite" placeholder="Website">
		</div>
		<div class="status error"></div>
		<div class="clear-both"></div>
	</div>
	<div class="clear-both"></div>
</div>
<div class="input-box">
	<div class="input-box box-half" data-validate="Email">
		<div class="label">
			<div class="hidden_label">
				Email <span class="required">*</span>
			</div>
		</div>
		<div class="inputcontainer">
			<input type="text" ng-model="user.shipbizemail" placeholder="Email">
		</div>
		<div class="status error"></div>
		<div class="clear-both"></div>
	</div>
	<div class="input-box box-half last" data-validate="Phone Number">
		<div class="label">
			<div class="hidden_label">
				Phone Number <span class="required">*</span>
			</div>
		</div>
		<div class="inputcontainer">
			<input type="text" ng-model="user.shipbizmobile" placeholder="Phone Number">
		</div>
		<div class="status error"></div>
		<div class="clear-both"></div>
	</div>
	<div class="clear-both"></div>
</div>
<div class="input-box" data-validate="Service" ng-repeat="service in user.shipservices">
	<div class="label">
		<div class="hidden_label">
			Service {{$index+1}} <span class="required">*</span>
		</div>
	</div>
	<div class="inputcontainer">
		<input type="text" ng-model="service.label" placeholder="Service {{$index+1}}">
	</div>
	<div style="width: 45px; height: 45px; position: absolute; right: -45px; top: 0" ng-if="user.shipservices.length > 1" ng-click="removeService(user.shipservices, service)">
		<div class="relative-container">
			<div class="delete_btn center_item">
				<div class="relative-container">
					<i class="pe-7s-close center_item"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="status error"></div>
	<div class="clear-both"></div>
</div>
<div class="input-box align-left">
	<span class="action_btn" ng-click="addNewservice(user.shipservices);">
		Add Service
	</span>
</div>
<div class="input-box" data-validate="Corporate Office Address">
	<div class="label">
		<div class="hidden_label">
			Corporate Office Address <span class="required">*</span>
		</div>
	</div>
	<div class="inputcontainer">
		<input type="text" ng-model="user.shipcorporateofficeaddress" placeholder="Corporate Office Address">
	</div>
	<div class="status error"></div>
	<div class="clear-both"></div>
</div>
<div class="input-box">
	<div class="input-box box-half" data-validate="Name of Contact Person">
		<div class="label">
			<div class="hidden_label">
				Name of Contact Person <span class="required">*</span>
			</div>
		</div>
		<div class="inputcontainer">
			<input type="text" ng-model="user.shipcontactpersonname" placeholder="Name of Contact Person">
		</div>
		<div class="status error"></div>
		<div class="clear-both"></div>
	</div>
	<div class="input-box box-half last" data-validate="Phone Number of Contact Person">
		<div class="label">
			<div class="hidden_label">
				Phone Number of Contact Person <span class="required">*</span>
			</div>
		</div>
		<div class="inputcontainer">
			<input type="text" ng-model="user.shipcontactpersonmobile" placeholder="Phone Number of Contact Person">
		</div>
		<div class="status error"></div>
		<div class="clear-both"></div>
	</div>
	<div class="clear-both"></div>
</div>
<div class="input-box">
	<div class="input-box box-half only" data-validate="Email of contact person">
		<div class="label">
			<div class="hidden_label">
				Email of Contact Person <span class="required">*</span>
			</div>
		</div>
		<div class="inputcontainer">
			<input type="text" ng-model="user.shipcontactpersonemail" placeholder="Email of Contact Person">
		</div>
		<div class="status error"></div>
		<div class="clear-both"></div>
	</div>
	<div class="clear-both"></div>
</div>
<div class="input-box" data-validate="Company Profile" data-option="file-input">
	<div class="inputcontainer" onclick="document.getElementById('companyprofile').click();">
		<div class="image-field">
			<div class="icon" ng-style="user.companyprofilepreview">
				<i class="fa fa-picture-o center_item" ng-if="!user.companyprofile"></i>
			</div>
			<div class="copy">
				<span class="center_item_vertically" ng-if="!user.companyprofile">Upload Brochure / Company Profile</span>
				<span class="center_item_vertically" ng-if="user.companyprofile">{{user.companyprofilename}}</span>
			</div>
		</div>
	</div>
	<input type="file" accept=".doc, .docx, .ppt, .pptx, .pdf" class="fileField" id="companyprofile" onchange="angular.element(this).scope().fileChanged(this, 'companyprofile')">
	<input type="hidden" class="hidden" ng-value="user.companyprofile">
	<div class="status error"></div>
	<div class="clear-both"></div>
</div>
<div class="input-box" data-validate="Permit(s)" ng-repeat="permit in user.shippermits">
	<div class="label">
		<div class="hidden_label">
			Permit (DPR. NIMASA etc) {{$index+1}} <span class="required">*</span>
		</div>
	</div>
	<div class="inputcontainer">
		<input type="text" ng-model="permit.label" placeholder="Permit (DPR. NIMASA etc) {{$index+1}}">
	</div>
	<div style="width: 45px; height: 45px; position: absolute; right: -45px; top: 0" ng-if="user.shippermits.length > 1" ng-click="removePermit(user.shippermits, permit)">
		<div class="relative-container">
			<div class="delete_btn center_item">
				<div class="relative-container">
					<i class="pe-7s-close center_item"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="status error"></div>
	<div class="clear-both"></div>
</div>
<div class="input-box align-left padding-bottom-30">
	<span class="action_btn" ng-click="addNewPermit(user.shippermits);">
		Add Permit
	</span>
</div>