.mvx_morelink, .mvx_searchbarcontainer, .mvx_link{
    display: none;
}
.mvx_morelinks, .mvx_toggle, .mvx_shortinfo{
    width: 100%;
}
.featured_vessels{
    width: calc(100% - 24px);
}
.mvx_links{
    float: right;
}
.mvx_header, .mvx_actionarea, .mvx_ads, .mvx_featuredlabel, .mvx_content, .mvx_footer{
    width: 90%;
}
.mvx_featuredcontent{
    width: calc(90% + 10px);
    overflow: hidden;
}
.mvx_ad{
    width: 100%;
    margin-bottom: 20px;
}
.mvx_adlabel {
    padding: 0 25px;
    padding-top: 13px;
}
.mvx_featuredcontent .web{
    display: none;
}
.mvx_featuredcontent .mobile{
    display: block;
}
.mvx_partner{
    width: 50%;
}
.mvx_footer{
    height: auto;
    padding: 0 5%;
    padding-top: 40px;
}
.mvx_footer .top .left, .mvx_footer .top .right{
    width: 100%;
}
.mvx_newsletter{
    margin-bottom: 30px;
}
.mvx_newsletter .input {
    width: calc(100% - 110px);
    margin-right: 5px;
}
.mvx_nbtn{
    width: 105px;
}
.mvx_footer .bottom{
    padding-bottom: 20px;
}