.mvx_morelink, .mvx_searchbarcontainer, .mvx_link{
    display: none;
}
.mvx_morelinks, .mvx_toggle, .mvx_shortinfo{
    width: 100%;
}
.mvx_morelinks{
    margin-top: -1px;
}
.featured_vessels{
    width: calc(100% - 24px);
}
.mvx_links {
    position: absolute;
    right: 5%;
    top: 40px;
    height: 45px;
    width: 40px;
    z-index: 99;
}
.mvx_morelink_logged {
    width: 53px;
    position: absolute;
    right: calc(5% + 98px);
}
.mvx_morelink_logged .profile {
    margin-left: 0;
}
.mvx_search {
    position: absolute;
    right: calc(5% + 51px);
    top: 40px;
    height: 45px;
    width: 40px;
    z-index: 99;
    display: block !important;
    opacity: 0.7;
}
.mvx_search i{
    font-size: 2.7rem;
}
.noScrollSmall{
    overflow: hidden !important;
}
.mvx_toggle .ham{
    display: block;
    height: 25px !important;
}
.profile_access{
    display: none !important;
}
.mvx_toggle .close-flyout{
    display: none;
}
.mvx_toggle.showLinks .ham{
    display: none !important;
}
.mvx_toggle.showLinks .close-flyout{
    display: block !important;
}
.mainArea.showingLink{
    right: 70%;
}
.dim{
    display: block !important;
}
.fixed{
    position: fixed !important;
}
.links.showingLink{
    left: 30%;
}
.mvx_header, .mvx_actionarea, .mvx_ads, .mvx_featuredlabel, .mvx_content, .mvx_footer{
    width: 90%;
}
.mvx_featuredcontent{
    width: calc(90% + 10px);
    /*overflow: hidden;*/
}
.mvx_ad{
    width: 100%;
    margin-bottom: 20px;
}
.mvx_adlabel {
    padding: 0 25px;
    padding-top: 13px;
}
.mvx_featuredcontent .web{
    display: none;
}
.mvx_featuredcontent .mobile{
    display: block;
}
.mvx_partner{
    width: 50%;
}
.mvx_footer{
    height: auto;
    padding: 0 5%;
    padding-top: 40px;
}
.mvx_footer .top .left, .mvx_footer .top .right{
    width: 100%;
}
.mvx_newsletter{
    margin-bottom: 30px;
    height: auto;
}
.mvx_newsletter .input {
    width: 100%;
    margin-bottom: 10px;
}
.mvx_nbtn{
    width: 100%;
    height: 50px;
}
.mvx_footer .bottom{
    padding-bottom: 20px;
}
div.navigation_arrow.right {
    left: 50% !important;
    top: 45% !important;
}
div.navigation_arrow.left {
    left: 45% !important;
    top: 54% !important;
}
.signupContainer {
    width: 100%;
    min-height: 60vh;
    max-height: 90%;
}
.signupForm {
    min-height: calc(60vh - 57px);
}
.input-box {
    width: 90%;
}
.no-display-small{
    display: none !important;
}
.verification-code-label{
    width: 60px;
}
.verification-code-input{
    width: calc(100% - 60px);
}
.signupContainer.expanded {
    width: 55%;
}
.backButton{
    width: 50px;
    padding-top: 23px;
}
.backButton i {
    left: 10px;
}
.signupContainer.expanded {
    width: 100%;
}
.input-box.box-half {
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.input-box > .input-box{
    padding-bottom: 15px;
}
.input-box.box-half.last, .input-box.only {
    padding-bottom: 0 !important;
}
.section-label {
    width: 90%;
}
.choice-label{
    width: 90px;
}
.choice-input{
    width: calc(100% - 90px);
}